
BackJunAlgorithm/.vs/BackJunAlgorithm/v16/Browse.VC.db
BackJunAlgorithm/.vs/BackJunAlgorithm/v16/Browse.VC.db-shm
BackJunAlgorithm/.vs/BackJunAlgorithm/v16/Browse.VC.db-wal
*.opendb
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.obj
*.log
*.lastbuildstate
*.tlog
*.recipe
*.idb
*.pdb
*.exe
*.ilk
